<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="true"
        android:appCategory="social"
        android:directBootAware="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locale_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <activity
            android:name="com.lnzpk.chat_app.main.StartIcon"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lnzpk.chat_app.admin.AdminCenter"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.settings.profileSettings.ProfilePictureSettings"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.settings.profileSettings.DangerZoneSettings"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.settings.profileSettings.InformationSettings"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.settings.profileSettings.NameSettings"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.settings.profileSettings.PreviewProfile"
            android:exported="false" />

        <receiver
            android:name="com.lnzpk.chat_app.service.ServiceStarterReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.lnzpk.chat_app.service.StatusJob"
            android:enabled="true"
            android:label="Status"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.lnzpk.chat_app.service.NotificationJob"
            android:enabled="true"
            android:label="Notifications"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="langid" />

        <activity
            android:name="com.lnzpk.chat_app.twoFA.TwoFaChange"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.settings.AgbScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.main.ConfirmDataProtection"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.settings.NotificationSettings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.friends.SearchUser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.settings.BlockedUser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.group.InviteFriends"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.group.OpenGroupBanner"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.group.OpenGroupLogo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.lnzpk.chat_app.post.LikedPosts"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.lnzpk.chat_app.profile.OpenProfilePicture"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <receiver android:name="com.lnzpk.chat_app.service.NotificationReply" />

        <activity
            android:name="com.lnzpk.chat_app.service.AcceptNotifications"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <receiver android:name="com.lnzpk.chat_app.service.NotificationActions" />

        <activity
            android:name="com.lnzpk.chat_app.settings.PostSettings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />

        <activity
            android:name="com.lnzpk.chat_app.group.GroupMembers"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />

        <activity
            android:name="com.lnzpk.chat_app.group.EditGroup"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />

        <activity
            android:name="com.lnzpk.chat_app.group.NewGroup"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />

        <activity
            android:name="com.lnzpk.chat_app.group.OpenGroupChat"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.group.OpenGroupInfo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lnzpk.chat_app.group.PublicGroups"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.AccentColorExpertSettings"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service android:name="com.lnzpk.chat_app.service.StatusService" />

        <activity
            android:name="com.lnzpk.chat_app.post.BlockedPosts"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.post.PostComments"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.post.EditPost"
            android:configChanges="keyboardHidden|orientation|screenSize" />


        <activity
            android:name="com.lnzpk.chat_app.post.MyPosts"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.OtherSettings"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.BackgroundSettings"
            android:configChanges="keyboardHidden|orientation|screenSize" />


        <activity
            android:name="com.lnzpk.chat_app.settings.DesignSettings"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.AppVersionScreen"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.HelpSettings"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.twoFA.TwoFaCheck"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.twoFA.TwoFaDeactivate"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.twoFA.TwoFaActivate"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.twoFA.TwoFA"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.AppSecurityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.SafetySettings"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.AppAuthentication"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.profile.OpenProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />

        <activity
            android:name="com.lnzpk.chat_app.settings.DataProtection"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.post.NewPost"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.post.OpenPost"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.profile.Profile"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.profile.DelAccount"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.ChangePass"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.friends.Friends"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.Feedback"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.chat.OpenChat"
            android:configChanges="keyboardHidden|orientation|screenSize|colorMode" />

        <activity
            android:name="com.lnzpk.chat_app.settings.SetPrivacySettings"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.settings.Settings"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.main.Home"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.lnzpk.chat_app.main.LoginAndRegister"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service
            android:name="com.lnzpk.chat_app.service.Notification"
            android:launchMode="singleTop" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>